$myFont: Helvetica, sans-serif;
$fontColor1: #5777ba;
$fontColor2:#47536e;
$fontColor3:#f2f5fa;
$lightGray:lightslategray;
$dipGray1:rgb(60, 60, 60);
$dipGray2:rgb(90, 90, 90);
$dipGray3:rgb(120, 120, 120);
$dipGray4:rgb(210, 210, 210);
$whiteColor: white;
$whiteColor2: whitesmoke;
$shadowColor:rgba(0, 0, 0, 0.2);